*.md linguist-detectable=true
*.py linguist-documentation
*.js linguist-documentation
*.ts linguist-documentation
*.json linguist-documentation
*.yml linguist-documentation
*.yaml linguist-documentation
